text
{
	font: "Roboto Condensed Regular.ttf";
    font-size: 16;
    color: #333333;
}

label, draggable-label, text-button
{
	font: "Roboto Condensed Regular.ttf";
	font-size: 32;
	color: #837654;
	shadow-color: #111111;
	shadow-offset-x: 1;
	shadow-offset-y: 1;
}

text-button:hover
{
	color: #A59876;
}

text-button:focus
{
	color: #615432;
}

checkbox
{
    align: "right";
    spacing: 5;
}