text
{
	font: "Roboto Condensed Regular";
	font-size: 14;
	color: #333333;
}

text display
{
	position-y: -1;
}

label,
draggable-label,
text-button
{
	font: "Roboto Condensed Regular";
	font-size: 32;
	color: #837654;
}

label shadow,
draggable-label shadow,
text-button shadow
{
	color: #111111;
	position-x: 1;
	position-y: 1;
}

text-button:hover
{
	color: #A59876;
}

text-button:active
{
	color: #615432;
}

button
{
	stroke-width: 1;
	stroke-color: #837654;
	inside-color: #EEEEEE;
}

button:hover
{
	inside-color: #B5A886;
}

button:active
{
	inside-color: #A59876;
}

button text
{
	margin: 5 10;
}

slider thumb
{
	width: 12;
	height: 12;
	stroke-width: 1;
	stroke-color: #837654;
	inside-color: #615432;
	radius: 75;
}

slider track
{
	height: 8;
	stroke-width: 1;
	stroke-color: #837654;
	inside-color: #EEEEEE;
	position-x: 6;
	radius: 75;
}

check-box,
radio-box
{
	align: "right";
	spacing: 5;
}

check-box selector background,
radio-box selector background
{
	width: 14;
	height: 14;
	stroke-width: 1;
	stroke-color: #837654;
	inside-color: #EEEEEE;
}

check-box selector pipe,
radio-box selector pipe
{
	width: 6;
	height: 6;
	inside-color: #615432;
}

check-box selector background,
check-box selector pipe
{
	radius: 25;
}

radio-box selector background,
radio-box selector pipe
{
	radius: 100;
}
}