hbox
{
	align: top;
}

vbox
{
	align: left;
}

text, placeholded-text, text-flow
{
	font: rinde_src("Roboto Condensed Regular.ttf");
	font-size: 14;
	color: #333333;
}

placeholded-text
{
	placeholder-color: #666666;
}

label, draggable-label, label-button
{
	font: rinde_src("Roboto Condensed Regular.ttf");
	font-size: 32;
	color: #837654;
	shadow-color: #111111;
}

label-button:hovered
{
	color: #A59876;
}

label-button:active
{
	color: #615432;
}

button background
{
	stroke-width: 1;
	stroke-color: #837654;
	inside-color: #EEEEEE;
}

button:hovered background
{
	inside-color: #B5A886;
}

button:active background
{
	inside-color: #A59876;
}

button text
{
	padding: 5 10;
}

slider thumb
{
	width: 12;
	height: 12;
	stroke-width: 1;
	stroke-color: #837654;
	inside-color: #615432;
	radius: 75;
}

slider track
{
	height: 8;
	stroke-width: 1;
	stroke-color: #837654;
	inside-color: #EEEEEE;
	margin: 0 6;
	radius: 75;
}

check-box, radio-box
{
	align: right;
	spacing: 5;
}

check-box selector background, radio-box selector background
{
	width: 14;
	height: 14;
	stroke-width: 1;
	stroke-color: #837654;
	inside-color: #EEEEEE;
}

check-box selector pipe, radio-box selector pipe
{
	width: 6;
	height: 6;
	inside-color: #615432;
}

check-box selector background, check-box selector pipe
{
	radius: 25;
}

radio-box selector background, radio-box selector pipe
{
	radius: 100;
}

text-field background, password-field background, text-area background
{
	stroke-width: 1;
	stroke-color: #837654;
	inside-color: #EEEEEE;
}

text-field background, password-field background
{
	width: 160;
	height: 23;
	radius: 25;
}

text-area background
{
	width: 210;
	height: 100;
}

text-field placeholded-text, password-field placeholded-text, text-area placeholded-text
{
	padding: 2 5;
}

choice-box disposer background
{
	width: 122;
	height: 22;
	stroke-width: 1;
	stroke-color: #837654;
	inside-color: #EEEEEE;
}

choice-box disposer placeholded-text
{
	position-x: 4;
	position-y: 1;
}

list-view background
{
	stroke-width: 1;
	stroke-color: #837654;
	inside-color: #CCCCCC;
}

list-view pane
{
	padding: 1;
}

option background
{
	width: 120;
	height: 20;
	inside-color: #EEEEEE;
}

option text
{
	position-x: 3;
}

option:hovered background, option:selected background
{
	inside-color: #C3B694;
}

table background
{
	inside-color: #837654;
}

column head background
{
	inside-color: #C3B694;
}

column cell background
{
	inside-color: #EEEEEE;
}

column head text, column cell text
{
	padding: 2 5;
}